{% extends 'allianceauth/base-bs5.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}
    {% translate "Character Scan" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "Character Scan" %}
{% endblock header_nav_brand %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'characterscan/characterscan.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="allianceauth-characterscan-plugin cs-app">
        {% block details %}{% endblock %}
    </div>
{% endblock %}
